celery==5.3.6
Django==4.2.9
djangorestframework==3.14.0
django-celery-beat==2.5.0
django-cors-headers==4.3.1
django-filter==23.5
django-slack==5.19.0
django-redis==5.4.0
numpy==1.26.3
pandas==2.2.0
pillow==10.2.0
psycopg2==2.9.9
pytest==7.4.4
python-dotenv==1.0.1
pytest-html==4.1.1
requests==2.31.0
redis==5.0.1